/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
}

/* ------------------------------Stili pagina header-------------------------------------------------------- */

.containerSup {
    height: 50px;
    background-color: white;
    padding-top: 10px;
}

.containerSup ul {
    list-style-type: none; 
    display: flex;
}

.containerSup ul li {
    display: inline-block;
    padding-left: 20px;
}


.containerSup .Left {
    padding-left: 50%;
}

.containerSup .Left a {
    margin-left: 25px;
}

.containerSup .botton {
    background-color: rgb(55, 55, 252);
    text-align: center;
    padding: 5px 10px 5px 10px;
}


.containerSup a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    
}

.containerSup a:active {
    color: white;
  }


/*----------------- menu a tendina nascosto------------------ */
.containerSup .drop {
    position: relative;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
li .drop:hover .dropdown-content {
    display: block;
  }


  .containerSup .dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* ------------------------------Stili pagina main-------------------------------------------------------- */
.containerCen {
    height: calc(100vh - 50px);
    background-color: white;
    overflow: auto; 
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}

/* ------------------Titolo--------------- */
.Item1 {
    flex-basis: 100%;
    font-size: 25px;
    background-color: rgb(124, 185, 206);
    padding: 10px 10px;
}

.Item1 h1 {
    width: 900px;
    text-align: center;
    margin-left: 20%;
}

/* ------------------Riga 1--------------- */
.Item2 {
    flex-basis: 50%;
    height: 400px;
    text-align: left;
    background-color: rgb(124, 185, 206);
}
.Item2 .box {
    padding-top: 10px;
    margin-left: 600px;
    font-size: 15px;
    height: 300px;
    width: 350px;
}

.Item2 .box .col {
    margin: 50px 0px 50px 0px;
}

.Item2 .box  a{
    color: white;
    text-decoration: none;
    background-color: rgb(55, 55, 252);
    padding: 10px 15px 10px 15px;
}

.Item2 .box .fa-arrow-down {
    font-size: 40px;
    margin-top: 80px;
    display: block;
}

.containerCen .Item2 a:active {
    color: black;
  }

.Item3 {
    flex-basis: 50%;
    height: 400px;
    padding: 10px 10px;
    font-size: 30px;
    background-color: rgb(124, 185, 206);
}

.Item3 img {
    width:90%;
}

/* ------------------Riga 2--------------- */
.Item4 {
    flex-basis: 100%;
    padding-top: 150px;
    font-size: 30px;
}

.Item4 h2 {
    width: 800px;
    text-align: center;
    margin-left: 310px;
}

.Item4 .radio_button {
    display: inline-block;
    margin-left: 340px;
}

.Item4 .radio_button1 {
    display: inline-block;
 
}

.Item4 span{
    font-size: 15px;
}

/* ------------------Riga 3--------------- */
.Item5 {
    padding-top: 50px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.Item5 .col1 {
    
    height: 1000px;
    font-size: 15px; 
    border: 1px solid gainsboro;
    flex-basis: 10%;
    margin-left: 20px;
}

.Item5 .SubCol1 {
    width: 399px;
    height: 50px;
    border-bottom: 1px solid gainsboro;
    padding: 10px 0px 10px 160px;
}

.Item5 ul {
    list-style-type: none;
    margin: 20px;
} 

.Item5 ul h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.Item5 ul h7{
    font-weight: bold;
    margin-bottom: 20px;
}

.Item5 li {
    text-align: left;
    margin: 10px 0px 5px 10px;
    width: 350px;
    position: relative;
}

.Item5 li p{
    width: 240px;
   text-align: left;
   margin: 0px 0px 20px 25px;
}

#icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 17px;
}

.Item5 li .fa-check{
    color: rgb(0, 97, 255);
}

.Item5 .bottom1 {
    padding-top: 20%;
}

.Item5 li .button1{
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(55, 55, 252);
    padding: 10px 65px 10px 65px;
    margin-left: 40px;
}

.Item5 li .button2 {
    color: black;
    cursor: pointer;
    left: 15%;
    margin-top: 40px;
}

.Item5 li .button2 a{
    color: blue;
}
.Item5 li .button2 .rect {
    background-color: lightgrey;
    width: 60px;
    height: 1px;
    margin: 20px 0px 20px 0px;
}

.Item5 li a:active {
    color: black;
}

/* ------------------Riga 4--------------- */
.Item6 {
    flex-basis: 100%;
    font-size: 15px;
}

.Item6 .col2 {
    width: 1245px;
    height: 300px;
    border: 1px solid gainsboro;
    display: inline-block;
    margin: 20px 0px 20px 340px;
}

.Item6 .SubCol2 {
    width: 1239px;
    height: 50px;
    border-bottom: 1px solid gainsboro;
    padding: 10px 0px 10px 600px;
}

.Item6 ul {
    list-style-type: none;
} 

.Item6 .list {
    padding: 30px;
}

.Item6 ul h5 {
    font-size: 20px;
    display: inline-block;
}

.Item6 .bottom {
    padding: 30px 0px 90px 0px;
}

.Item6 ul h7 {
    font-weight: bold;
}

.Item6 li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(55, 55, 252);
    padding: 10px 65px 10px 65px;
    margin-left: 730px;
}

.Item6 li p{
    width: 700px;
   text-align: left;
}

.Item6 li a:active {
    color: black;
}

/* ------------------Riga 5--------------- */
.Item7 {
    flex-basis: 50%;
    padding-top: 150px;
}

.Item7 img {
    width: 600px;
    margin-left: 342px;
}

.Item8 {
    flex-basis: 50%;
    font-size: 15px;
    padding: 150px 0px 50px 0px;
}

.Item8 .box{
    width: 280px;
    margin: 40px 0px 0px 150px;
}

.Item8 p {
    margin: 40px 0px 40px 0px;
} 

.Item8 .box a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    margin-bottom: 200px;
}

.Item8 .box a:active {
    color: white;
}

/* ------------------Riga 6--------------- */
.Item9 {
    flex-basis: 100%;
    padding-top: 150px;
    font-size: 25px;
}

.Item9 h2 {
    width: 1200px;
    text-align: center;
    margin-left: 142px;
}

/* ------------------Riga 7--------------- */
.Item10 {
    flex-basis: 100%;
    padding: 150px 342px 10px 342px;
}

.Item10 .block {
    height: 250px;
    width: 300px;
    padding: 10px 10px;
    display: inline-block;
    
}

.Item10 .secondo, .terzo, .quinto, .sesto {
    margin-left: 100px;
}

.Item10 .quarto, .quinto, .sesto {
    margin-top: 50px;
}

.Item10 .block p {
    font-size: 17px;
    width: 330px;
}

.Item10 .block h5 {
    font-size: 20px;
    margin-bottom: 30px;
}

.Item10 .block img {
    width: 100%;
    height: 100%;
}

/* ------------------Riga 8--------------- */
.Item11 {
    flex-basis: 100%;
    padding-top: 100px;
    padding-left: 342px;
}

.Item11 h2 {
    font-size: 25px;
    width: 400px;
    margin-bottom: 50px;
}

.Item11 a{
    color: blue;
    cursor: pointer;
    margin-bottom: 200px;
}

.Item11 a:active {
    color: white;
}

/* ------------------Riga 9--------------- */
.Item12 {
    flex-basis: 100%;
    padding-top: 100px;
    background-color: aquamarine;
}
